$mainColor: #d33;
$activeColor: #0a8acd;
$borderColor: #ddd;
$fontColor1: #333;
$fontColor2: #666;
$fontColor3: #999;

@mixin flex($direction: row, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin flexRow($align: center, $justify: center) {
  display: flex;
  flex-direction: row;
  align-items: $align;
  justify-content: $justify;
}

@mixin flexColumn($align: center, $justify: center) {
  display: flex;
  flex-direction: column;
  align-items: $align;
  justify-content: $justify;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

html {
  font-size: 625%;
}

body {
  font-size: .14rem;
}

a {
  color: $fontColor1;
}

hr {
  margin: .1rem 0;
}

.App {
  @include flexColumn(flex-start, space-between);
  height: 100%;
  width: 100%;
}

.Page {
  flex: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.Menu {
  background-color: $mainColor;
  color: #fff;
  width: 100%;
  ul {
    @include flexRow(center, space-between);
    width: 100%;
    li {
      display: flex;
      flex: 1;
      height: .4rem;
      line-height: .4rem;
      text-align: center;
      a {
        color: #fff;  
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    li:not(:first-child) {
      border-left: 1px solid #fff;
    }
  }
  .active {
    background-color: $activeColor;
  }
}

.SubMenu {
  display: block;
  width: 100%;
  li {
    border-bottom: 1px solid $borderColor;
    height: .4rem;
    line-height: .4rem;
    a {
      display: block;
      height: 100%;
      padding: 0 .1rem;
    }
  }
}

.Notfound {
  @include flexColumn;
  img {
    margin: 0 auto;
    margin-top: .3rem;
    width: 80%;
  }
}

.Rheader {
  background-color: $activeColor;
  color: #fff;
  width: 100%;
  height: .4rem;
  line-height: .4rem;
  text-align: center;
  position: fixed;
  h2 {
    font-size: .2rem;
    width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto;
    white-space: nowrap;
  }
  img {
    height: .2rem;
    position: absolute;
    top: .1rem;
    left: .1rem;
  }
}

.Main {
  flex: 1;
  margin-top: .4rem;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: .1rem;
  padding-bottom: .5rem;
  img {
    max-width: 100%;
  }
  p {
    span {
      color: $mainColor;
    }
  }
}

.Basic {
  padding: 0;
}

.Child {
  margin: .1rem 0;
  border: 1px solid $borderColor;
  padding: .1rem;
}

label {
  display: block;
}

.PostItem {
  border-bottom: 1px solid $borderColor;
  padding: .1rem 0;
  a {
    h4 {
      color: $fontColor2;
      font-size: .18rem;
      margin-bottom: .05rem;
    }
    .thumbnail_imgs {
      @include flexRow(center, space-between);
      width: 100%;
      li {
        display: block;
        flex: 1;
        img {
          width: 100%;
        }
      }
      li:not(:last-child) {
        margin-right: .08rem;
      }
    }
  }
}

.Post {
  .Post_header {
    border-bottom: 1px solid $borderColor;
    padding-bottom: .1rem;
    p {
      color: $fontColor3;
      margin-top: .05rem;
      span {
        float: right;
      }
    }
  }
  .Post_featured {
    margin: .1rem 0;
  }
  .Post_content {
    color: $fontColor2;
  }
}

.Form {
  label, section {
    @include flexRow(center, space-between);
  }
  section {
    height: .3rem;
    line-height: .3rem;
    margin: .05rem 0;
  }
  span {
    display: block;
    height: 100%;
    margin-right: .06rem;
    text-align: right;
    width: .4rem;
  }
  aside {
    @include flexRow;
    flex: 1;
    width: 100%;
    label {
      margin: 0 .2rem;
    }
  }
  input[type=text], input[type=telephone], input[type=number], input[type=file], select {
    border: 1px solid #ddd;
    display: block;
    flex: 1;
    height: .3rem;
    line-height: .3rem;
    margin: .1rem 0;
    padding: 0 .05rem;
    width: 100%;
  }
  input[type=radio] {
    width: .2rem;
    height: .2rem;
    margin-right: .05rem;
  }
  input[type=submit] {
    width: 100%;
    height: .3rem;
    line-break: .3rem;
    margin-top: .2rem;
    text-align: center;
  }
  textarea {
    width: 100%;
    flex: 1;
    border: 1px solid #ddd;
    height: .8rem;
    padding: .1rem;
  }
}

.OrderItem{
  border-bottom: 1px solid #ddd;
  margin: .1rem 0;
  padding: .1rem 0;
  div {
    background-color: #eee;
    color: #d33;
    margin: .05rem 0;
    padding: .05rem;
  }
  footer {
    text-align: right;
    button {
      display: inline-block;
      margin: 0 .05rem;
      padding: .05rem;
    }
  }
}


.Scroller {
  width: 100%;
  ul {
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 120px;
    white-space:nowrap
  }
  .Scroller_item {
    background-color: #ccc;
    display: inline-block;
    height: 120px;
    line-height: 120px;
    margin-right: 12px;
    text-align: center;
    width: 120px;
  }
  .Scroller_item:last-child {
    margin-right: 0;
  }
}


.up {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAJCAMAAAA1k+1bAAAAMFBMVEVHcEyChIaLjI6cnZ6cnZ6YmZubnJ2Wl5iIioucnZ6Sk5WZmpx9f4GQkZOQkpN5e33dhWx9AAAAD3RSTlMA+eMWBlcihOsCsUX+wsG/Zw7CAAAAOklEQVQI103HxQHAMBADMF+Yvf+2bTj6CRisxcOJuDsTyGBOK39tz3Pwc7nMltynhYtoICoeKiLxkT6bSwOKPTH53wAAAABJRU5ErkJggg==) no-repeat center center;
  background-size: contain;  
}
.down {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAJBAMAAADwYwBaAAAAMFBMVEVHcEyChIaLjI6cnZ6cnZ6YmZubnJ2Wl5iIioucnZ6Sk5WZmpx9f4GQkZOQkpN5e33dhWx9AAAAD3RSTlMA+eMWBlcihOsCsUX+wsG/Zw7CAAAAOklEQVQI12NY/x8EfjE9ZgABfQZmeSD3owEDwx4gfRooxA6kC0By7///Bavx+N8CptkEE8A0QygQAwCewBlzvybiDQAAAABJRU5ErkJggg==) no-repeat center center;
  background-size: contain;
}

.Filters {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  height: 40px;
  padding: 10px 0;
  position: relative;
  width: 100%;
  .Filters_container {
    @include flexRow;
    height: 18px;
    .Filters_item {
      @include flexRow;
      color: #666;
      // display: block;
      flex: 1;
      font-size: 12px;
      height: 100%;
      position: relative;
      text-align: center;
      span {
        display: block;
        line-height: 18px;
        position: relative;
      }
      .Filters_item_icon {
        width: 10px;
        height: 18px;
        margin-left: 2px;
        i {
          display: block;
          height: 18px;
          width: 8px;
        }
      }
      .Filters_item_icon_select {
        i.select {
          @extend .up;
        }
        i.active {
          @extend .down;
        }
      }
      .Filters_item_icon_order {
        @include flexColumn;
        padding: 3px 0;
        i {
          height: 8px;
          width: 7px;
        }
        i.order_up {
          @extend .up;
        }
        i.order_down {
          @extend .down;
        }
        i.active_up {
          background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAJCAMAAAA1k+1bAAAAMFBMVEVHcEz7AAD7AAD7AAD7AAD7AAD7AAD7AAD7AAD7AAD7AAD7AAD7AAD7AAD7AAD7AABKResjAAAAD3RSTlMA+QIW47FFBlfrhMIjwSFITfUlAAAAOklEQVQI103HxwHAIAwDQJnetf+2EBIT7nfAlhIuTWT8i5nM8bRy6brCrbwL/IRnVrRiAeN4OAPPi5+mFQORTgELbAAAAABJRU5ErkJggg==) no-repeat center center;
          background-size: contain;
        }
        i.active_down {
          background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAJBAMAAADwYwBaAAAAMFBMVEVHcEz7AAD7AAD7AAD7AAD7AAD7AAD7AAD7AAD7AAD7AAD7AAD7AAD7AAD7AAD7AABKResjAAAAD3RSTlMA+QIW47FFBlfrhMIjwSFITfUlAAAAO0lEQVQI12OI/w8CXxlUwLQTA7M8kPpowMCQD6S/MTAwcAHpBUCa4f7/3yCKofL/dDDNJ3gATDN0ADEAj64eSWcTWkcAAAAASUVORK5CYII=) no-repeat center center;
          background-size: contain;
        }
      }
      .Filters_item_icon_more {
        i {
          background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAUCAMAAACgaw2xAAAAFVBMVEVHcEx5e315e315e315e315e315e302K7DLAAAABnRSTlMA1BXxFg2jO6koAAAAS0lEQVQY09WOSw4AIQhDazv2/keeBfMR0QPYhEXfCwHIywhbcTU3IoWBiuELJsO/JsOxDIZ5/TPcHOT6xY7KAdodcuGAHXO6kGKe3JX4Asx6mR2mAAAAAElFTkSuQmCC) no-repeat center center;
          background-size: contain;
          width: 13px;
        }
      }
    }
    .Filters_item:not(:last-child) {
      border-right: 1px solid #ddd;
    }
  }
  .selectContainer, .currentMultipleSelectData {
    width: 100%;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 40px;
  }
  .subItem {
    border-bottom: 1px solid #ddd;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
  }
  .currentMultipleSelectData {
    @include flexRow(flex-start, flex-start);
    border-bottom: 1px solid #ddd;
  }
  .currentMultipleSelectData_left {
    height: 100%;
    width: 25%;
  }
  .currentMultipleSelectData_right {
    border-left: 1px solid #ddd;
    flex: 1;
    height: 100%;
  }
}

.moreModal {
  background-color: rgba(0, 0, 0, .7);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  .moreModal_main {
    background-color: #fff;
    float: right;
    height: 100%;
    padding: 12px;
    width: 86vw;
    .moreModal_list {
      .moreModal_item {
        color: #666;
        margin-bottom: 16px;
        h4 {
          font-size: 15px;
        }
        .moreModal_subList {
          @include flexRow(flex-start, flex-start);
          flex-wrap: wrap;
          .moreModal_subItem {
            border: 1px solid #ddd;
            border-radius: 4px;
            display: block;
            flex-basis: 30%;
            font-size: 12px;
            margin: 4px 0;
            padding: 6px 6px;
            text-align: center;
            width: 30%;
          }
          .moreModal_subItem:nth-child(3n+1), .moreModal_subItem:nth-child(3n+2) {
            margin-right: 5%;
          }
        }
      }
    }
  }
}


.TabMenu {
  background-color: #000;
  height: 48px;
  line-height: 48px;
  width: 100%;
  ul {
    @include flexRow(center, space-between);
    height: 100%;
    width: 100%;
    li {
      @include flexColumn;
      flex: 1;
      height: 100%;
      text-align: center;
      img {
        height: .22rem;
      }
      p {
        color: #fff;
        font-size: .12rem;
        height: .16rem;
        line-height: .16rem;
      }
    }
    .active {
      p {
        color: $mainColor !important;
      }
    }
  }
}

.SideMenu {
  background-color: rgba(0, 0, 0, .7);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  .SideMenu_main {
    background-color: #fff;
    box-shadow: 0 0 10px #fff;
    height: 100vh;
    left: -70vw;
    position: fixed;
    top: 0;
    transition: all linear .5s;
    width: 70vw;
  }
}

.ImgSlider {
  section {
    width: 100%;
  }
  footer {
    background-color: #000;
    height: .4rem;
    width: 100%;
    ul {
      @include flexRow(center space-between);
      height: 100%;
      width: 100%;
      li {
        color: #fff;
        flex: 1;
        line-height: .4rem;
        text-align: center;
      }
      .active {
        color: $mainColor;
      }
    }
  }
}

.Swipers {
  .Swiper_item {
    margin: 0 5vw;
    width: 90vw !important;
  }
}

.box {
  width: 3rem;height: 3rem; background-color: #ccc;
}
