html, body, #root {
  width: 100%;
  height: 100%; }

html {
  font-size: 625%; }

body {
  font-size: .14rem; }

a {
  color: #333; }

hr {
  margin: .1rem 0; }

.App {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  width: 100%; }

.Page {
  flex: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative; }

.Menu {
  background-color: #d33;
  color: #fff;
  width: 100%; }
  .Menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%; }
    .Menu ul li {
      display: flex;
      flex: 1;
      height: .4rem;
      line-height: .4rem;
      text-align: center; }
      .Menu ul li a {
        color: #fff;
        display: block;
        width: 100%;
        height: 100%; }
    .Menu ul li:not(:first-child) {
      border-left: 1px solid #fff; }
  .Menu .active {
    background-color: #0a8acd; }

.SubMenu {
  display: block;
  width: 100%; }
  .SubMenu li {
    border-bottom: 1px solid #ddd;
    height: .4rem;
    line-height: .4rem; }
    .SubMenu li a {
      display: block;
      height: 100%;
      padding: 0 .1rem; }

.Notfound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .Notfound img {
    margin: 0 auto;
    margin-top: .3rem;
    width: 80%; }

.Rheader {
  background-color: #0a8acd;
  color: #fff;
  width: 100%;
  height: .4rem;
  line-height: .4rem;
  text-align: center;
  position: fixed; }
  .Rheader h2 {
    font-size: .2rem;
    width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto;
    white-space: nowrap; }
  .Rheader img {
    height: .2rem;
    position: absolute;
    top: .1rem;
    left: .1rem; }

.Main {
  flex: 1;
  margin-top: .4rem;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: .1rem;
  padding-bottom: .5rem; }
  .Main img {
    max-width: 100%; }
  .Main p span {
    color: #d33; }

.Basic {
  padding: 0; }

.Child {
  margin: .1rem 0;
  border: 1px solid #ddd;
  padding: .1rem; }

label {
  display: block; }

.PostItem {
  border-bottom: 1px solid #ddd;
  padding: .1rem 0; }
  .PostItem a h4 {
    color: #666;
    font-size: .18rem;
    margin-bottom: .05rem; }
  .PostItem a .thumbnail_imgs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%; }
    .PostItem a .thumbnail_imgs li {
      display: block;
      flex: 1; }
      .PostItem a .thumbnail_imgs li img {
        width: 100%; }
    .PostItem a .thumbnail_imgs li:not(:last-child) {
      margin-right: .08rem; }

.Post .Post_header {
  border-bottom: 1px solid #ddd;
  padding-bottom: .1rem; }
  .Post .Post_header p {
    color: #999;
    margin-top: .05rem; }
    .Post .Post_header p span {
      float: right; }

.Post .Post_featured {
  margin: .1rem 0; }

.Post .Post_content {
  color: #666; }

.Form label, .Form section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.Form section {
  height: .3rem;
  line-height: .3rem;
  margin: .05rem 0; }

.Form span {
  display: block;
  height: 100%;
  margin-right: .06rem;
  text-align: right;
  width: .4rem; }

.Form aside {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%; }
  .Form aside label {
    margin: 0 .2rem; }

.Form input[type=text], .Form input[type=telephone], .Form input[type=number], .Form input[type=file], .Form select {
  border: 1px solid #ddd;
  display: block;
  flex: 1;
  height: .3rem;
  line-height: .3rem;
  margin: .1rem 0;
  padding: 0 .05rem;
  width: 100%; }

.Form input[type=radio] {
  width: .2rem;
  height: .2rem;
  margin-right: .05rem; }

.Form input[type=submit] {
  width: 100%;
  height: .3rem;
  line-break: .3rem;
  margin-top: .2rem;
  text-align: center; }

.Form textarea {
  width: 100%;
  flex: 1;
  border: 1px solid #ddd;
  height: .8rem;
  padding: .1rem; }

.OrderItem {
  border-bottom: 1px solid #ddd;
  margin: .1rem 0;
  padding: .1rem 0; }
  .OrderItem div {
    background-color: #eee;
    color: #d33;
    margin: .05rem 0;
    padding: .05rem; }
  .OrderItem footer {
    text-align: right; }
    .OrderItem footer button {
      display: inline-block;
      margin: 0 .05rem;
      padding: .05rem; }

.Scroller {
  width: 100%; }
  .Scroller ul {
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 120px;
    white-space: nowrap; }
  .Scroller .Scroller_item {
    background-color: #ccc;
    display: inline-block;
    height: 120px;
    line-height: 120px;
    margin-right: 12px;
    text-align: center;
    width: 120px; }
  .Scroller .Scroller_item:last-child {
    margin-right: 0; }

.Filters {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  height: 40px;
  padding: 10px 0;
  position: relative;
  width: 100%; }
  .Filters .Filters_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 18px; }
    .Filters .Filters_container .Filters_item {
      color: #666;
      display: block;
      flex: 1;
      font-size: 12px;
      height: 100%;
      text-align: center; }
      .Filters .Filters_container .Filters_item span {
        display: block;
        line-height: 18px; }
    .Filters .Filters_container .Filters_item:not(:last-child) {
      border-right: 1px solid #ddd; }
  .Filters .selectContainer, .Filters .currentMultipleSelectData {
    width: 100%;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 40px; }
  .Filters .subItem {
    border-bottom: 1px solid #ddd;
    height: 32px;
    line-height: 32px;
    padding: 0 10px; }
  .Filters .currentMultipleSelectData {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom: 1px solid #ddd; }
  .Filters .currentMultipleSelectData_left {
    height: 100%;
    width: 25%; }
  .Filters .currentMultipleSelectData_right {
    border-left: 1px solid #ddd;
    flex: 1;
    height: 100%; }

.moreModal {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw; }
  .moreModal .moreModal_main {
    background-color: #fff;
    float: right;
    height: 100%;
    padding: 12px;
    width: 86vw; }
    .moreModal .moreModal_main .moreModal_list .moreModal_item {
      color: #666;
      margin-bottom: 16px; }
      .moreModal .moreModal_main .moreModal_list .moreModal_item h4 {
        font-size: 15px; }
      .moreModal .moreModal_main .moreModal_list .moreModal_item .moreModal_subList {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap; }
        .moreModal .moreModal_main .moreModal_list .moreModal_item .moreModal_subList .moreModal_subItem {
          border: 1px solid #ddd;
          border-radius: 4px;
          display: block;
          flex-basis: 30%;
          font-size: 12px;
          margin: 4px 0;
          padding: 6px 6px;
          text-align: center;
          width: 30%; }
        .moreModal .moreModal_main .moreModal_list .moreModal_item .moreModal_subList .moreModal_subItem:nth-child(3n+1), .moreModal .moreModal_main .moreModal_list .moreModal_item .moreModal_subList .moreModal_subItem:nth-child(3n+2) {
          margin-right: 5%; }

.box {
  width: 3rem;
  height: 3rem;
  background-color: #ccc; }
